include ../header/header
include ../home/home

mixin page
  main.page
    .page__preloader.white
      .page__preloader-progress.progress
        .indeterminate

    .page__header
      +header({
        info: {
          address: '3896 Grant View Drive, Milwaukee, WI',
          phone: '+1 (800) 123 4567',
          email: 'company@test.com',
          workingHours: 'Working hours: 09:00 - 21:00',
        },

        logo: 'images/logo.png',
        sections: ['home', 'about', 'services', 'testimonials', 'contacts'],
      })

    .page__home
      +home([
        {
          background: 'images/home-background.jpg',
          heading: 'air conditioners installation',
          text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, commodi!',
        },

        {
          background: 'images/home-background-2.jpg',
          heading: 'air conditioners repair',
          text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, commodi!',
        },

        {
          background: 'images/home-background-3.jpg',
          heading: 'cleaning air conditioners',
          text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, commodi!',
        },
      ])