include ../heading/heading

mixin home(services)
  #home.home.scrollspy
    .home__services.carousel.carousel-slider.center 
      each item in services
        div(class="home__services-item carousel-item" style=`background-image: url(${item.background})`)
          .home__heading
            +heading({
              level: 'h2',
              heading: item.heading,
              color: 'white-text',
            })

          p.home__text.white-text=item.text
          a(class="home__button btn-large waves-effect" href="#order") to order