include ../header/header
include ../home/home
include ../company/company
include ../services/services
include ../testimonials/testimonials

mixin climating
  .climating
    .climating__preloader.white
      .climating__preloader-progress.progress
        .indeterminate

    header.climating__header
      +header({
        info: {
          address: '3896 Grant View Drive, Milwaukee, WI',
          phone: '+1 (800) 123 4567',
          email: 'company@test.com',
          workingHours: 'Working hours: 09:00 - 21:00',
        },

        logo: 'images/logo.png',
        sections: ['home', 'about', 'services', 'testimonials', 'contacts'],
      })

    main.climating__main
      section.climating__home
        +home([
          {
            background: 'images/home-background.jpg',
            heading: 'Air Conditioners Installation',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, commodi!',
          },

          {
            background: 'images/home-background-2.jpg',
            heading: 'Air Conditioners Repair',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, commodi!',
          },

          {
            background: 'images/home-background-3.jpg',
            heading: 'Cleaning Air Conditioners',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, commodi!',
          },
        ])

      section.climating__company
        +company({
          heading: 'About Company',
          text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti fugit dignissimos eveniet animi! Commodi eum mollitia quibusdam repellat perferendis explicabo excepturi cum saepe magnam, voluptatibus cumque rem necessitatibus aspernatur error sit amet eligendi. Itaque illo laboriosam aliquam ad sit eos, assumenda, voluptatibus consequuntur aut quisquam animi nemo, officia porro fugiat sed quae doloribus recusandae distinctio voluptatum error blanditiis inventore tenetur numquam reiciendis? Obcaecati, itaque asperiores, eligendi tempore dolor ipsum rem et, debitis impedit aspernatur molestiae sunt quis nihil! Laboriosam corrupti esse repellat aut, quod id voluptatem dolor adipisci reprehenderit amet illum quas deleniti, sequi ipsam! Dolor alias eum saepe hic!',
          video: 'https://www.youtube.com/embed/JjG0-w-FupI',
        })

      section.climating__services
        +services({
          heading: 'Services',

          servicesGroups: [
            {
              id: 'household-air-conditioners',
              name: 'household air conditioners service',
            },

            {
              id: 'air-conditioning-systems',
              name: 'air conditioning systems service',
            },

            {
              id: 'ventilation-systems',
              name: 'ventilation systems service',
            },
          ],

          services: [
            {
              type: 'household-air-conditioners',
              name: 'Cleaning',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/cleaning-air-conditioners.jpg',
            },

            {
              type: 'household-air-conditioners',
              name: 'Repair',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/air-conditioners-repair.jpg',
            },

            {
              type: 'household-air-conditioners',
              name: 'Diagnostic',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/air-conditioners-diagnostic.jpg',
            },

            {
              type: 'air-conditioning-systems',
              name: 'Chiller Repair',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/chiller-repair.jpg',
            },

            {
              type: 'air-conditioning-systems',
              name: 'Repair VRV Systems',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/repair-vrv-systems.jpg',
            },

            {
              type: 'air-conditioning-systems',
              name: 'Fan Coil Repair',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/fan-coil-repair.jpg',
            },

            {
              type: 'ventilation-systems',
              name: 'Ventilation Installation',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/ventilation-installation.jpg',
            },

            {
              type: 'ventilation-systems',
              name: 'Ventilation Maintenance',
              description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
              image: 'images/ventilation-maintenance.jpg',
            },
          ],
        })

      section.climating__testimonials
        +testimonials('Testimonials', [
          {
            photo: 'images/sharleen-stanley.jpg',
            customer: 'Sharleen Stanley',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
          },

          {
            photo: 'images/steven-malone.jpg',
            customer: 'Steven Malone',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
          },

          {
            photo: 'images/dorothy-watkins.jpg',
            customer: 'Dorothy Watkins',
            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae blanditiis ipsam dolorem alias vel, aliquid adipisci odit obcaecati reiciendis!',
          },
        ])