mixin order
  .order.modal#order
    .modal-content
      h4 To Order

      form.order__form
        .input-field
          i.material-icons.prefix account_circle
          input(id="icon_prefix" type="text" class="validate" name="name")
          label(for="icon_prefix") Your Name

        .input-field
          i.material-icons.prefix phone
          input(id="icon_telephone" type="tel" class="validate" name="phone")
          label(for="icon_telephone") Telephone

        .input-field
          i.material-icons.prefix build
          input(id="icon_build" type="tel" class="validate" name="service")
          label(for="icon_build") Enter Service

        .input-field
          i.material-icons.prefix comment
          textarea(id="icon_comment" class="materialize-textarea validate" name="comment")
          label(for="icon_comment") Your Comment

        button(class="btn btn-large waves-effect") order