.header__nav {
  z-index: 100;

  .active {
    background-color: rgba(0, 0, 0, 0.1);
  
    &.btn {
      background-color: rgba(38, 166, 154, 0.7);
    }
  }

  @media (max-width: 860px) {
    position: fixed !important;
  }
}