.services__card {
  max-width: 24rem;
  min-width: 19rem;

  &.card {
    margin: 1rem;

    .card-content .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-reveal .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}