mixin order
  .order.modal#order
    .modal-content
      h4 Order Service

      form.order__form
        .input-field
          i.material-icons.prefix account_circle
          input(id="customer-name" type="text" class="validate" name="customer-name")
          label(for="customer-name") Your Name

        .input-field
          i.material-icons.prefix phone
          input(id="customer-phone" type="tel" class="validate" name="customer-phone")
          label(for="customer-phone") Your Phone

        .input-field
          i.material-icons.prefix build
          input(id="selected-service" type="text" class="validate" name="selected-service")
          label(for="selected-service") Selected Service

        .input-field
          i.material-icons.prefix comment
          textarea(id="customer-comment" class="materialize-textarea validate" name="customer-comment")
          label(for="customer-comment") Your Comment

        button(class="btn btn-large waves-effect") order